* {
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
}

.content-container {
 max-width: 1024px;
    margin: auto;
}
.photo-container {
    width: 20%;
}
.main-photo {
    width: 100%;
    border-radius: 50%;
}

.item-container {
    display: flex;
    flex-direction: column;
}
.item-header {
    margin: 10px 0;

}

.item-info {

}

